{% extends "@FOSUser/layout.html.twig" %}
{% block loginHead %}<h1>Login</h1>{% endblock %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
