{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h1>{% trans %}Automatische Blockzuteilung{% endtrans %}</h1>
                            </div>
                            <div class="col text-right">
                                {% if assignment_started %}
                                    <button class="btn btn-success" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        &nbsp; {% trans %}Lädt{% endtrans %} ...
                                    </button>
                                {% else %}
                                    <a href="{{ path('org_child_auto_assign_start', {'id': app.user.organisation.id}) }}">
                                        <button type="button" class="btn btn-success">
                                            {% trans %}Blockzuteilung starten{% endtrans %}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr class="mb-1">
                    <div class="card-body">
                        <table id="school-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans %}Schule{% endtrans %}</th>
                                <th>{% trans %}Anzahl Unzugeteilter Blöcke{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in schulData %}
                                <tr>
                                    <td>{{ data.schule.name }}</td>
                                    <td>{{ data.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#school-table').DataTable({
                searching: false
            });
        });
    </script>
{% endblock %}
