{% extends 'workflow/base.html.twig' %}


{% block header %}
    <div class="col-md-6 mb-4 white-text text-centerm text-md-left">

        <h1 class="font-weight-bold">{% trans %}Unsere Kinderbetreuung{% endtrans %}</h1>
        <hr class="hr-light ">

    </div>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3> {% trans %}Nutzungsbedingungen{% endtrans %}</h3>
            </div>
            <div class="card-body">
                    <h4>{% trans %}Allgemein{% endtrans %}</h4>
                <p>

                </p>
            </div>

    </div>
</div>

{% endblock %}