{% extends 'workflow/base.html.twig' %}



{% block content %}

    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3> {% trans %}Nutzungsbedingungen{% endtrans %}</h3>
            </div>
            <div class="card-body">
                {% apply markdown_to_html %}
                    ### 1 Geltungsbereich
                    1. Die nachfolgenden Bedingungen gelten für die Nutzung der Schulkindbetreuungsplattform - im folgenden "Unsere Webseite" genannt. Für die Nutzung unserer Webseite ist wichtig, dass Sie als Nutzer/Nutzerin die nachfolgenden Regeln bzw. Bedingungen akzeptieren.
                    1. Die Registrierung und Benutzung unserer Webseite ist kostenlos.
                    1. Mit der Registrierung sind Sie mit den Nutzungsbedingungen unserer Webseite einverstanden. Durch Ihr Einverständnis garantieren Sie uns, dass Sie keine Anmeldungen erstellen werden, die gegen die Nutzungsbedingung verstoßen.
                    1. Durch das Benutzen von unserer Webseite kommt kein Vertrag zwischen den Nutzern/Nutzerinnen und uns zustande.

                    ### 2 Pflichten als Nutzers
                    1. Einer Ihrer Pflichten als Nutzer/Nutzerin ist es, dass Sie keine Anmeldungen erstellen, die gegen diese Forenregeln, gegen die guten Sitten oder sonst gegen geltendes deutsches Recht verstoßen.

                    ### 3 Haftungsbeschränkung
                    1. Diese Website ist Gegenstand der nachfolgenden Nutzungsbedingungen, die im Verhältnis zwischen Nutzer und Dienstanbieter mit dem Aufruf dieser Website verbindlich vereinbart sind. Soweit spezielle Bestimmungen für einzelne Nutzungen dieser Website von den nachfolgenden Nutzungsbedingungen abweichen, wird in der Website an entsprechender Stelle ausdrücklich darauf hingewiesen. Es gelten dann im jeweiligen Einzelfall ergänzend die besonderen Nutzungsbedingungen. Diese Website beinhaltet Daten und Informationen aller Art, die marken- und/oder urheberrechtlich zugunsten des Dienstanbieters und/oder Dritter geschützt sind. Es ist daher nicht gestattet, die Website im Ganzen oder einzelne Teile davon herunterzuladen, zu vervielfältigen und zu verbreiten. Gestattet ist die technisch bedingte Vervielfältigung zum Zwecke des Browsing, soweit diese Handlung keinen wirtschaftlichen Zwecken dient, sowie die dauerhafte Vervielfältigung für den eigenen nichtkommerziellen Gebrauch.
                    1. Wir übernehmen die Haftung für die Inhalte dieser Website gemäß den gesetzlichen Bestimmungen. Für die Inhalte der einzeln dargestellten Betreuungsangebote und - anbieter, einschließlich Bildern und Daten in den Profilen, sind die jeweiligen Betreuungsanbieter selbst verantwortlich. Eine Gewähr für die Richtigkeit und Vollständigkeit der auf der Website befindlichen Informationen wird nicht übernommen.
                    1. Verweise und Links auf Websites Dritter bedeuten nicht, dass sich der Dienstanbieter die hinter dem Verweis oder Link liegenden Inhalte zu eigen macht. Die Inhalte begründen keine Verantwortung des Dienstanbieters für die dort bereit gehaltenen Daten und Informationen. Der Dienstanbieter hat keinen Einfluss auf die hinter dem Link liegenden Inhalte. Für rechtswidrige, fehlerhafte und unvollständige Inhalte und für Schäden, die aufgrund der Nutzung von einem hinter dem Link liegenden Inhalt verursacht worden sind, haftet der Dienstanbieter daher nicht.
                    1. Es ist wird nicht für einen ständigen unterbrechungsfreien Abruf der Webseite garantiert. Einer Haftung diesbezüglich wird hiermit ausdrücklich widersprochen.
                    Auch bei großer Sorgfalt können Ausfallzeiten leider nicht ausgeschlossen werden.
                    1. Die Nutzung des Internets erfolgt auf eigene Gefahr des Nutzers. Der Dienstanbieter haftet vor allem nicht für den technisch bedingten Ausfall des Internets bzw. des Zugangs zum Internet.

                    ### 4 Urheberrecht
                    1. Es ist gestattet, einen Link auf diese Website zu setzen, soweit er allein der Querreferenz dient. Der Dienstanbieter behält sich das Recht vor, die Gestattung zu widerrufen. Das Framen dieser Website ist nicht gestattet.
                    1. Sämtliche Texte, Bilder und andere auf unserer Webseite veröffentlichten Informationen und Daten unterliegen - sofern nicht anders gekennzeichnet - dem Copyright unserer Seite. Jede Form von Wiedergabe und/oder Modifikation darf nur mit der schriftlichen Genehmigung durch uns erfolgen. Andersfalls behalten wir uns das Recht vor gerichtlich gegen diese Rechtsverletzung vorzugehen. Alle Kosten, die durch eine Rechtsverletzung seitens eines Benutzers verursacht werden, werden diesem in Rechnung gestellt.

                    ### 5 Änderungsvorbehalt
                    Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung wird dann per Info-Eintrag auf der Webseite veröffentlicht.

                    ### 6 Gerichtsstand
                    Gerichtsstand ist, wenn der Vertragspartner Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen ist, am Sitz des Dienstanbieters. Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts.

                    ### 7 Salvatorische Klausel
                    Diese Nutzungsbedingung ist als Teil unserer Webseite zu betrachten, von dem aus auf diese Seite verwiesen wird. Sind einzelne Formulierungen dieser Forum-Nutzungsbedingung nicht mehr ganz oder nicht mehr vollständig konform mit der geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen der Nutzungsbedingungen bestehen bleiben.
                {% endapply %}
            </div>

        </div>
    </div>
    </div>

{% endblock %}
