{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-6 mb-4 white-text text-centerm text-md-left">


        <h1 class="display-4 font-weight-bold">{{ stadt.name }}</h1>

    </div>
{% endblock %}
{% block content %}
        <h1 class="cover-heading">{% trans %}Fertig{% endtrans %}</h1>

    <div>
        <p>
            {% trans %} Vielen Dank für Ihre Anmeldung... {% endtrans %}
        </p>
    </div>
{% endblock %}