{% extends 'workflow/base.html.twig' %}
{% block content %}
        <h1 class="cover-heading">{% trans %}Fertig{% endtrans %}</h1>

    <div>
        <p>
            {% trans %} Vielen Dank für Ihre Anmeldung... {% endtrans %}
        </p>
    </div>
{% endblock %}