{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe font-weight-bold">{% trans with {'%stadt%':stadt.name} %}Allgemeine Vertragsbedingungen der Stadt %stadt%{% endtrans %}</h1>
        <hr class="hr-light ">

    </div>
{% endblock %}
{% block content %}
    <div>
        <a href="{{ path('workflow_agb_pdf',{'id':stadt.id}) }}"><i class="fa fa-download"></i> </a>
        <p>
            {{ stadtAGB|markdown_to_html }}
        </p>
    </div>
{% endblock %}
