{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left">

        <h1 class="display-4 font-weight-bold">{% trans %}Allgemeine Geschäftsbedingungen der Stadt{% endtrans %} {{ stadt.name }}</h1>

    </div>
{% endblock %}
{% block content %}
    <div>
        <a href="{{ path('workflow_agb_pdf',{'id':stadt.id}) }}"><i class="fa fa-download"></i> </a>
        <p>

  {{ stadtAGB|markdown_to_html }}


        </p>
    </div>
{% endblock %}
