{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="display-4 font-weight-bold hauptfarbe">{% trans %}Unsere online Anmeldung{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
        <h1 class="cover-heading">{% trans %} Anmeldung zur Schulkindbetreuung geschlossen {% endtrans %}</h1>
        <p class="lead">{% trans with {"%name%":stadt.name} %}Sie befinden sich außerhalb des Anmeldezeitraums für die Schulkindbetreuung in %name%. {% endtrans %}</p>
{% endblock %}