{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-6 mb-4 white-text text-centerm text-md-left">


        <h1 class="display-4 font-weight-bold">{{ stadt.name }}</h1>

        <p>
            <strong id="start">{{ stadt.infoText|nl2br }}</strong>
        </p>


    </div>
{% endblock %}
{% block content %}
    <img class=" card-img" src="{{ vich_uploader_asset(stadt, 'imageFile') }}">
        <h1 class="cover-heading">{% trans %} Anmeldung zur Schulkindbetreuung geschlossen {% endtrans %}</h1>
        <p class="lead">{% trans with {"%name%":stadt.name} %}Sie befinden sich außerhalb des Anmeldezeitraums für die Schulkindbetreuung in %name%. {% endtrans %}</p>
{% endblock %}