{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left">

        <h1 class="hauptfarbe font-weight-bold">{% trans with {'%organisation%':org.name} %}Datenschutzhinweis der Organisation %organisation%{% endtrans %}</h1>
        <hr class="hr-light ">


    </div>
{% endblock %}
{% block content %}
    <div>
        <a href="{{ path('workflow_datenschutz_pdf',{'id':org.id}) }}"><i class="fa fa-download"></i> </a>
        <p>
            {{ datenschutz|markdown_to_html}}
        </p>
    </div>
{% endblock %}
