{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left">

        <h1 class="hauptfarbe font-weight-bold">{% trans %}Datenschutzhinweis der Organisation{% endtrans %} {{ org.name }}</h1>
        <hr class="hr-light ">


    </div>
{% endblock %}
{% block content %}
    <div>
        <a href="{{ path('workflow_datenschutz_pdf',{'id':org.id}) }}"><i class="fa fa-download"></i> </a>
        <p>
            {{ datenschutz|raw|nl2br }}
        </p>
    </div>
{% endblock %}