{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left">

        <h1 class="h1-responsive hauptfarbe">{% trans with {'%organisation%':org.name} %}Datenschutzhinweis %organisation%{% endtrans %}</h1>
        <hr class="hr-light ">

    </div>
{% endblock %}
{% block content %}
    <div>
        {% if org_id != 0 %}
        <a class="btn btn-primary" href="{{ path('workflow_datenschutz_pdf',{'org_id':org_id,'slug':stadt.slug}) }}"><i class="fa fa-download"></i> {% trans %}Datenschutzhinweis als PDF herunterladen{% endtrans %}</a>
        {% endif %}
        <p>
            {% if datenschutz is not empty %}
            {{ datenschutz|markdown_to_html}}
            {% endif %}
        </p>
        {% if org_id == "city" %}
            <div class="card">
                <div class="card-header"><h3>Matomo Analytics</h3>
                </div>
                <div class="card-body">

                <p>Wir nutzen auf unserer Webseite das Open-Source-Software-Tool Matomo (ehemals PIWIK) zur Analyse des Surfverhaltens unserer Nutzer. Das ist ein Open-Source-Tool zur Web-Analyse. Mit Matomo werden keine Daten an Server übermittelt, die außerhalb der Kontrolle von H2 invent liegen.</p>
                <p>Matomo verwendet Cookies. Diese Textdateien werden auf Ihrem Computer gespeichert und machen es möglich, die Benutzung seiner Webseite zu analysieren. Dazu werden die durch den Cookie gewonnenen Informationen über die Nutzung an den Server der H2 invent übertragen und gespeichert, damit das Nutzungsverhalten ausgewertet werden kann. Ihre IP-Adresse wird umgehend anonymisiert; damit bleiben Sie als Nutzer anonym. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden nicht an Dritte weitergegeben.</p>
                <p>H2 invent versteht diese Analyse als Bestandteil seines Internet-Services. Es möchte damit die Webseite weiter verbessern und noch mehr an die Bedürfnisse der Nutzerinnen und Nutzer anpassen.</p>
                <p>Sie können die Verwendung der Cookies jederzeit durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Es ist jedoch möglich, dass Sie in diesem Fall nicht sämtliche Funktionen dieser Webseite in vollem Umfang nutzen können.</p>
                <p>Wenn Sie mit der Speicherung und Auswertung dieser Daten aus Ihrem Besuch nicht einverstanden sind, dann können Sie der Speicherung und Nutzung nachfolgend per Mausklick widersprechen. In Ihrem Browser wird dann ein sog. Deaktivierungs-Cookie gespeichert. Das führt dazu, dass Matomo keinerlei Sitzungsdaten erhebt (Hinweis: Wenn Sie Ihre Cookies löschen, führt das dazu, dass auch das Deaktivierungs-Cookie gelöscht wird und beim nächsten Besuch von Ihnen gegebenenfalls erneut aktiviert werden muss).</p>
                <p>Werden Einzelseiten unserer Webseite aufgerufen, so werden folgende Daten gespeichert:</p>
                <p><em>(1) i Bytes der IP-Adresse des aufrufenden Systems des Nutzers<br /> (2) Die aufgerufene Webseite<br /> (3) Die Webseite, von der der Nutzer auf die aufgerufene Webseite gelangt ist (Referrer)</em><br /> <em>(4) Die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</em><br /> <em>(5) Die Verweildauer auf der Webseite</em><br /> <em>(6) Die Häufigkeit des Aufrufs der Webseite</em></p>
                <p>Die Software läuft dabei ausschließlich auf den Servern unserer Webseite. Eine Speicherung der personenbezogenen Daten der Nutzer findet nur dort statt. Eine Weitergabe der Daten an Dritte erfolgt nicht.</p>
                <p>Sie können sich hier entscheiden, ob in Ihrem Browser ein Webanalyse-Cookie abgelegt werden darf, um dem Bundespresseamt die Erfassung und Analyse statistischer Daten zu ermöglichen.</p>
                <p>Wenn Sie sich dagegen entscheiden möchten, klicken Sie den folgenden Link, um den Matomo-Deaktivierungs-Cookie in Ihrem Browser abzulegen.</p>

                </div>
                <div class="card-footer">
                    <iframe style="border: 0; height: 110px; width: 100%;" src="https://analytics.h2-invent.com/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de&amp;backgroundColor=&amp;fontColor=&amp;fontSize=14px&amp;fontFamily=Verdana"></iframe></p></div>

            </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
