{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left">

        <h1 class="h1-responsive hauptfarbe">{% trans with {'%organisation%':org.name} %}Datenschutzhinweis %organisation%{% endtrans %}</h1>
        <hr class="hr-light ">

    </div>
{% endblock %}
{% block content %}
    <div>
        {% if org_id != 0 %}
        <a class="btn btn-primary" href="{{ path('workflow_datenschutz_pdf',{'org_id':org_id,'slug':stadt.slug}) }}"><i class="fa fa-download"></i> {% trans %}Datenschutzhinweis als PDF herunterladen{% endtrans %}</a>
        {% endif %}
        <p>
            {% if datenschutz is not empty %}
            {{ datenschutz|markdown_to_html}}
            {% endif %}
        </p>
    </div>
{% endblock %}
