<!-- Footer -->
<footer class="page-footer font-small pt-2" {% if fix is not defined %}style="margin-top: 30px {% endif %}">

        <div class="container align-content-center">
            <div class="container-fluid text-center text-md-left ">

                <div class="row">

                    <hr class="clearfix w-100 d-md-none d-none">

                    <div class="col-lg-2 col-md-4 mb-md-0">
                        <ul class="list-unstyled">
                            <li>
                                <a href={{ path('impressum') }}>{% trans %}Impressum{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-4 mb-md-0">
                        <ul class="list-unstyled">
                            <li>
                                <a href={{ path('datenschutz') }}>{% trans %}Datenschutz{% endtrans %}</a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    <div class="footer-copyright text-center py-2">
        © {{ 'now'|date('Y') }} H2 invent | v{{ shivas_app_version }}
    </div>
</footer>
<!-- Footer -->