{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe font-weight-bold">{% trans %}Stadt nicht gefünden{% endtrans %}</h1>
        <hr class="hr-light ">

    </div>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">{% trans %}Wir wachsen ...{% endtrans %}</h1>
    <p class="lead">{% trans %}Schreiben Sie uns an damit wir Kontakt zu der Stadtverwaltung aufnehmen können und unsere-Schulkindbetreuung bald auch in Ihrer Stadt eingesetzt wird.{% endtrans %}</p>
    <p class="lead">{% trans %}Vielen Dank Ihr unsere-Schulkindbetreuung Team{% endtrans %}</p>
{% endblock %}
