<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">{% trans %}Ferienblöcke zum Bestellen anklicken{% endtrans %}</h5>
        </div>

        <div class="modal-body">
            <div class="accordion" id="accordion">

            {% for date in dates %}
                <h4>
                    {{ date.0.startdate|date('d.m.Y') }}
                </h4>

                    {% if date is defined and not null %}
                        {% include 'ferien/_programCard.html.twig' with {'date':date} %}
                    {% endif %}

            {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p>{% trans %}Preis für die Betreuung (incl. Vergünstigungen){% endtrans %}: <span id="price">{{ kind.ferienblockPreis|number_format(2,',','.') }} €</span></p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary "
                    data-dismiss="modal">{% trans %}Speichern{% endtrans %}</button>
        </div>
    </div>
    <script>
        // popovers Initialization
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</div>
