{% extends 'workflow/base.html.twig' %}
{% block content %}
        <h2 class="cover-heading">{% trans %}Beginnen Sie mit der Eingabe Ihrer Daten{% endtrans %}</h2>

    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}