<div class="modal-dialog cascading-modal modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header light-blue darken-3 white-text">
            <h5 class="modal-title">{% trans %}Daten des Kindes eingeben{% endtrans %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class':'ajaxForm'

                }
            }) }}


            {{ form_widget(form) }}
            <div class="text-center stickyBottomModal">
                <hr class="hr-bold">
                <button type="submit" class="btn btn-outline-primary ">{% trans %}Weiter{% endtrans %}</button>
            </div>
            {{ form_end(form) }}
        </div>
        <script>
            $('.ajaxForm').submit(function (e) {
                e.preventDefault();
                var $form = $(e.currentTarget);
                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    success: function (data) {
                        $snackText = '';
                        if(data.error == 1){
                            $(data.snack).each(function (i) {
                                toastr.error( data.snack[i])
                            });
                        }else {
                            $(data.snack).each(function (i) {
                                toastr.success( data.snack[i])
                            });
                        }


                        if (data.error == 0) {
                            if (typeof data.next != "undefined") {
                                $('#loadContentModal').load(data.next);

                            } else {
                                $('#loadContentModal').modal('hide');
                            }
                        }
                    }
                });
            })
        </script>

    </div>
</div>
