{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card">
                    <div class="card-header">
                        <h1>
                            {% trans %}Anwesenheitsliste{% endtrans %}
                        </h1>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans %}Checkin{% endtrans %}</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in list %}
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                                <a class="dropdown-item"
                                                   href="{{ path('city_admin_news_edit',{'id':l.kind.id}) }}">{% trans %}Bearbeiten{% endtrans %}</a>
                                                <a class="dropdown-item"
                                                   href="{{ path('city_admin_news_delete',{'id':l.kind.id}) }}">{% trans %}Löschen{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>

                                    </td>
                                    <td>{{ l.kind.vorname }} {{ l.kind.nachname }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
