<body>
<div class="row">
        {{ ferien|length }}
    {% for f in ferien %}
        <div class="col-lg-3">
            {{ f.kind.vorname }}
        </div>
        fsdf
    {% endfor %}
</div>
</body>
