{%  if is_granted('ROLE_ORG_ACCEPT_CHILD') %}
<a href="{{ path('download_angemeldete_kinder',{'schule_id':shool.id,'active_id': year.id}) }}" class="btn btn-green">Download Excel <i class="fa fa-download"></i> </a>
   {% endif %}
<table class="table table-stundenplan">
    <thead>
        <tr>
            <th>{% trans %}Montag{% endtrans %}</th>
            <th>{% trans %}Dienstag{% endtrans %}</th>
            <th>{% trans %}Mittwoch{% endtrans %}</th>
            <th>{% trans %}Donnerstag{% endtrans %}</th>
            <th>{% trans %}Freitag{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in 0..4 %}
                <td class="text-center">
                    {% if is_granted('ROLE_ORG_BLOCK_MANAGEMENT') %}
                        <div class="mb-3">
                            <a href="{{ path('block_schule_newBlocks',{'year':year.id,'shool':shool.id,'weekday':i}) }}"
                               class="loadContent btn btn-sm btn-success" style="line-height: 1;"><i class="material-icons" style="font-size: 16px;">add</i></a>
                        </div>
                    {% endif %}
                    {% if blocks[i] is defined %}

                        {% include 'block/blockCard.html.twig' with {'blocks': blocks[i]} %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>