{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                    <h1> {{ schule.name }}</h1>
                </div>
                <div class="row">
                <div class="col-md-2 offset-md-1">
                  <h5 class="card-title text-center">{% trans %}Montag{% endtrans %}</h5>
                    <div id="montagCol"></div>
                    <a style="padding-left: 25%" href="#" class="loadContent"><button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                            <i class="material-icons">add</i>
                        </button></a>
                </div>
                    <div class="col-md-2">
                        <h5 class="card-title">{% trans %}Dienstag{% endtrans %}</h5>
                        <div id="dienstagCol"></div>
                    </div>
                    <div class="col-md-2">
                        <h5 class="card-title">{% trans %}Mittwoch{% endtrans %}</h5>
                        <div id="mittwochCol"></div>
                    </div>
                    <div class="col-md-2">
                        <h5 class="card-title">{% trans %}Donnerstag{% endtrans %}</h5>
                        <div id="donnerstagCol"></div>
                    </div>
                    <div class="col-md-2">
                        <h5 class="card-title">{% trans %}Freitag{% endtrans %}</h5>
                        <div id="freitagCol"></div>
                    </div>


                </div>
    </div>
</section>

{% endblock %}
