{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe font-weight-bold">{% trans %}Neuigkeit{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">{{ news.title }}</h1>
    <p class="lead">{{ news.message }}</p>
{% endblock %}
