{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <div class=" col-12 card">
                    <div class="card-header">
                        <h1>
                            {% trans with {'%v%':stammdaten.vorname,'%n%':stammdaten.name} %}Kundennummer hinzufügen/ändern für %v% %n% {% endtrans %}
                        </h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
