{% extends 'workflow/base.html.twig' %}
{% block header %}
<div class="col-md-12 mb-6 white-text text-center text-md-left">
    <h1 class="font-weight-bold hauptfarbe">{% trans %}Online Anmeldung für Ferienbetreuung{% endtrans %}</h1>
    <hr class="hr-light ">
</div>
{% endblock %}
{% block body %}

    <div class="container-fluid">
        {{ kind.vorname }} {{ kind.nachname }}<br/>
        {{ block.checkinID }}
    </div>
{% endblock %}
