{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row" id="widgetRow">



            </div>
        </div>
    </section>

{% endblock %}

{% block jquery %}
    <!-- Count item widget-->
    <script>
        var URLs = [
            {% if app.user.organisation is not null %}
            '{{ path('widget_kids_today',{'id':app.user.organisation.id}) }}',
            '{{ path('widget_kids_schuljahr',{'id':app.user.organisation.id}) }}'
            {% endif %}
        ];
        $.each(URLs, function (index, value) {
            console.log(value);

            $.getJSON(value, function (data) {

           var box = '<div class="col-xl-2 col-md-4 col-6">'
                    +'<div class="wrapper count-title d-flex">'
                    +'<div class="icon"><i class="material-icons"> '+data.symbol+'</i></div>'
                +'<div class="name"><strong class="text-uppercase">'+data.title+'</strong>'
                +'<div class="count-number">'+data.anzahl+'</div>'
                 +'</div>'
            +'   </div>'
            +'   </div>';

                $("#widgetRow").append(box);
            });
        });
    </script>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-user"></i></div>
            <div class="name"><strong class="text-uppercase">New Clients</strong><span>Last 7 days</span>
                <div class="count-number">25</div>
            </div>
        </div>
    </div>

{% endblock %}