{% extends 'adminBase.html.twig' %}
{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
        <h1>{% trans with {'%vorname%':user.vorname , '%nachname%': user.nachname} %}Berechtigungen für %vorname% %nachname% {% endtrans %}</h1>
                </div>
                <div class="card-body">

                    {{ form_start(form) }}
                    {{ form_widget(form ) }}
                    {{ form_end(form ) }}

                </div>

        </div>
        </div>
    </div>
</section>
{% endblock %}

