{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                  <h1> {% trans %}Städte{% endtrans %}  <a href="#"><button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                         <i class="material-icons">add</i>
                      </button></a></h1>
                </div>

                <ul class="list-group">


                {% for c in city %}
                    <li class="list-group-item">
                         {{ c.name }}
                        <div class="btn-group">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                <a class="dropdown-item" href="#">{% trans %}Bearbeiten{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Städte Administratoren{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Schulen{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Organisationen{% endtrans %}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
