{% extends 'workflow/base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header">
                <h1>Krankmeldung Elternzugang</h1>
            </div>
            <div class="card-body">
                <p>Bitte Schuljahr auswählen und E-Mail-Adresse eingeben. Danach senden wir einen sicheren Link.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
