name: Create Release

env:
  GITHUB_TOKEN: ${{ secrets.token }}

on:
  push:
    branches:
      - master

jobs:
  version:
    uses: ./.github/workflows/task-version.yml

  artifact:
    uses: ./.github/workflows/task-artifact.yml

  release:
    needs:
      - artifact
      - version
    uses: ./.github/workflows/task-release.yml
    with:
      version: ${{ needs.version.outputs.version_output }}
      prerelease: false

  docker_image:
    needs:
      - version
    uses: ./.github/workflows/task-docker.yml
    with:
      registry: reg.h2-invent.com
      dockerfile_path: './Dockerfile'
      directory: '.'
      version: ${{ needs.version.outputs.version_output }}
      tags: reg.h2-invent.com/unsere-schulkindbetreuung/application:${{ needs.version.outputs.version_output }},reg.h2-invent.com/unsere-schulkindbetreuung/application:latest
    secrets:
      docker_password: ${{ secrets.HARBOR_PUSH_PASSWORD }}
      docker_username: ${{ secrets.HARBOR_PUSH_USERNAME }}
