{% if stadt.settingKinderimKiga %}
    <tr>
        <td>{% trans %}Ich habe mindestens ein weiteres Kind in einer kostenpflichtigen öffentlichen Kindergarteneinrichtung{% endtrans %}</td>
        <td>{{ eltern.kinderImKiga?"Ja"|trans:'Nein'|trans }}<br>
            {{ eltern.kigaOfKids }}
        </td>
    </tr>
{% endif %}
