<hr class="mb-4">
<div class="row">
    <div class="col-6">
        <h1>Stundenplan</h1>
    </div>
    <div class="col-6 text-right">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ 'Alle Schulen'|trans }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for s in schule %}
                    <a class="dropdown-item loadInTarget" data-target="#stundenplanTable"
                       href="{{ path('widget_kids_stundenplan',{'org_id':org.id,'schule_id':s.id}) }}">{{ s.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% set hasSamstag = blocks[5] is defined and blocks[5]|length %}
{% set hasSonntag = blocks[6] is defined and blocks[6]|length %}
<div id="stundenplanTable">
    <table class="table table-stundenplan">
        <thead>
            <tr>
                <th>{% trans %}Montag{% endtrans %}</th>
                <th>{% trans %}Dienstag{% endtrans %}</th>
                <th>{% trans %}Mittwoch{% endtrans %}</th>
                <th>{% trans %}Donnerstag{% endtrans %}</th>
                <th>{% trans %}Freitag{% endtrans %}</th>
                {% if hasSamstag %}
                    <th>{% trans %}Samstag{% endtrans %}</th>
                {% endif %}
                {% if hasSonntag %}
                    <th>{% trans %}Sonntag{% endtrans %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in 0..4 %}
                    <td>
                        {% if blocks[i] is defined %}
                            {% include 'widget/blockCard.html.twig' with {'blocks': blocks[i]} %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if hasSamstag %}
                    <td>
                        {% if blocks[5] is defined %}
                            {% include 'widget/blockCard.html.twig' with {'blocks': blocks[5]} %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if hasSonntag %}
                    <td>
                        {% if blocks[6] is defined %}
                            {% include 'widget/blockCard.html.twig' with {'blocks': blocks[6]} %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>