
{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Anmeldebestätigung für die Schulkindbetreuung{% endtrans %}
{% endblock %}

{% block content %}
    <p class="text-center">{% trans %}Sie haben Ihr Kind für die Schulkindbetreuung angemeldet:{% endtrans %}<br>

        <b>{{ kind.vorname }} </b> </p>
    {{ include('email/__securityCode.twig') }}
    <p class="text-center">{% trans %}Dies ist eine vorläufige Information über die Anmeldung Ihres Kindes.
            Wenn die Organisation Ihre Anmeldung bearbeitet hat, bekommen sie eine Zusammenfassung Ihrer akzeptierten Betreuungsblöcke.{% endtrans %}
    </p>
    <br>
    <br>
    <p class="text-center">{% trans %}Mit freundlichen Grüßen Ihre betreuende Organisation{% endtrans %}<br>
        <b>{{ kind.schule.organisation.name }}</b></p>


{% endblock %}






