{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Buchungsbestätigung für die Ferienbetreuung{% endtrans %}
{% endblock %}

{% block content %}
    <p class="text-center">{% trans %}Hiermit bestägen wir Ihnen die Anmeldung Ihrer Kinder{% endtrans %} <br>


    <center>
        {% trans %}Über diesen Link können Sie Ihre Bestellung bearbeiten.{% endtrans %}
        <button href="{{ absolute_url(path('ferien_storno',{'slug':'loerrach','parent_id':stammdaten.uid})) }}">
            {% trans %}Bearbeiten {% endtrans %}
        </button>
    </center>



    <small>{{ absolute_url(path('ferien_storno',{'slug':'loerrach','parent_id':stammdaten.uid})) }}</small>
    <p class="text-center">{% trans %}pdf.informationstext.main{% endtrans %}
    </p>
    <br>
    <br>
    <p class="text-center">{% trans %}Mit freundlichen Grüßen Ihr{% endtrans %}<br>
        <b>Ihr SKiB Team</b></p>


{% endblock %}


