{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Bestätigungscode für die Anmeldung zur Schulkindbetreuung {% endtrans %}
{% endblock %}

{% block content %}
    <h4 class="text-center">{% trans %}Sie haben sich gerade für die Schulkindbetreuung angemeldet. <br>Bitte bestätigen Sie Ihre Email Durch die Eingabe des Bestätigungscodes in ihrem Browser.{% endtrans %}
    </h4>
    <p class="text-center">
        {{ 'Bestätigungscode'|trans }}: {{ eltern.confirmationCode }}
    </p>
{% endblock %}
