{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans with {'%firstName%':user.vorname,'%lastName%':user.nachname} %}Hallo %firstName% %lastName%{% endtrans %}<br>
    {% trans %}Sie wurden als Mitarbeiter zu SKIB-Unsere Schulkindbetreuung hinzugefügt{% endtrans %}
{% endblock %}

{% block content %}
<center>
    <p class="text-center">{% trans %}Sie wurden von einem Administrator als Mitarbeiter zu SKIB-Unsere Schulkindbetreuung hinzugefügt.
            <br>Um den Registrierungsvorgang abzuschließen klicken Sie bitte auf den nachfolgenden Link oder kopieren Sie den Link in Ihren Browser:{% endtrans %}
    </p>
    <a href="{{ url }}">{{ 'Hier die Registrierung abschließen.'|trans }}</a><br>
    {% trans with {'%url%':url } %}Oder kopieren Sie diesen Link in Ihren Browser:<br> %url%{% endtrans %}.
</center>
{% endblock %}
