{% extends 'email/base.html.twig' %}
{% block header %}
    Elternzugang Krankmeldung
{% endblock %}

{% block content %}
    <h4 class="text-center">
        Hier ist Ihr persönlicher Link zur Krankmeldung Ihrer Kinder bei {{ stadt.name }}.<br>
        Der Link ist 24 Stunden gültig. Danach können Sie einfach einen neuen Link anfordern.
    </h4>

    <spacer size="32"></spacer>
    <h5 class="text-center">
        <a href="{{ uri | raw }}">{{ uri | raw }}</a>
    </h5>
    <spacer size="32"></spacer>
{% endblock %}
