<!-- Footer -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ff5e56">
    <tr>
        <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer"
                   style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                <tr>
                    <td height="30" class="spacer"
                        style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;
                    </td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!-- Column -->
                    <th class="column-top"
                        style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <div class="h2-white-m-center"
                                         style="color:#ffffff; font-family:Arial,sans-serif; font-size:22px; line-height:26px; text-align:left; font-weight:bold; text-transform:uppercase">
                                        EDUCATION BOOKS
                                    </div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer"
                                           style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                                        <tr>
                                            <td height="4" class="spacer"
                                                style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="text-white-m-center"
                                         style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:20px; text-align:left">
                                        Email template from mailbakery
                                    </div>
                                    <div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>

                                </td>
                            </tr>
                        </table>
                    </th>
                    <!-- END Column -->
                    <!-- Column -->
                    <th class="column-top"
                        style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0"
                        width="266">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="right">
                                    <!-- Socials -->
                                    <table class="center" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                        </tr>
                                    </table>
                                    <!-- END Socials -->
                                </td>
                            </tr>
                        </table>
                    </th>
                    <!-- END Column -->
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer"
                   style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                <tr>
                    <td height="26" class="spacer"
                        style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;
                    </td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!-- Column -->
                    <th class="column-top"
                        style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0"
                        width="320">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <div class="text-white-m-center"
                                         style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:20px; text-align:left">
                                        <a href="#" target="_blank" class="link-white"
                                           style="color:#ffffff; text-decoration:none"><span class="link-white"
                                                                                             style="color:#ffffff; text-decoration:none">East Pixel Bld. 99, Creative City 9000</span></a>,
                                        Republic of Design <br/>Phone: <a href="tel:+1123456789" target="_blank"
                                                                          class="link-white"
                                                                          style="color:#ffffff; text-decoration:none"><span
                                                    class="link-white" style="color:#ffffff; text-decoration:none">+1 (123) 456-789</span></a>
                                    </div>
                                    <div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>

                                </td>
                            </tr>
                        </table>
                    </th>
                    <!-- END Column -->
                    <!-- Column -->
                    <th class="column-top"
                        style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="right">
                                                <table class="center" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            <div class="text-white-r-m-center"
                                                                 style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:20px; text-align:right">
                                                                <multiline><a href="#" target="_blank"
                                                                              class="link-white"
                                                                              style="color:#ffffff; text-decoration:none"><span
                                                                                class="link-white"
                                                                                style="color:#ffffff; text-decoration:none"></span></a>
                                                                    &nbsp; &nbsp; <a href="#" target="_blank"
                                                                                     class="link-white"
                                                                                     style="color:#ffffff; text-decoration:none"><span
                                                                                class="link-white"
                                                                                style="color:#ffffff; text-decoration:none"></span></a>
                                                                </multiline>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </th>
                    <!-- END Column -->
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer"
                   style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                <tr>
                    <td height="30" class="spacer"
                        style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;
                    </td>
                </tr>
            </table>

        </td>
        <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
    </tr>
</table>
